#buildings-wrapper {
  display: flex;
  /* 中にある要素を横並びに */
  flex-direction: row;
  /* 要素間の隙間 */
  gap: 20px;
  /* 上に揃える */
  align-items: flex-start;
}

.building-container {
  display: flex;
  width: 200px;
  flex-direction: column;
  /* 上部にはみ出たものを隠す */
  overflow: hidden;
}

.main-button {
  z-index: 2;
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.drawer-box {
  z-index: 1;
  background: #eee;
  padding: 10px;
  border: 2px solid #ccc;
}

/* クリックされたときのアニメーション */
.drawer-enter-active,
.drawer-leave-active {
  transition: transform 0.5s ease;
}

/* 隠れている状態 */
.drawer-enter-from,
.drawer-leave-to {
  transform: translateY(-100%); 
}

/* 出てきたときの状態 */
.drawer-enter-to,
.drawer-leave-from {
  transform: translateY(0);
}

.upgrade-button{
  border:2px solid #333;
}
