/* このコード、幅が400pxより小さくなると破綻します */
#buildings-wrapper {
  position: fixed;
  display: flex;

  height: 100%;
  padding-left: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.8);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 10;

  transition: left 0.5s ease;
}

.building-container {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.main-button {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.drawer {
  background: #eee;
  padding: 10px;
  border: 3px solid #ccc;
}

.drawer p {
  margin: 0;
}

/* 数字部分は文章を中央揃えに */
.drawer p:nth-child(even) {
  padding: 0px 30px;
  margin: 0 auto;
  margin-bottom: 20px;

  align-self: center;
  font-size: 1.1rem;

  width: fit-content;
  border-bottom: 2px solid #333;
}

.upgrade-button {
  width: fit-content;
  margin: 0 auto;
  padding: 5px 30px;
  border: 2px solid #333;
  cursor: pointer;
}

/* 性質だけ欲しいので、ボックスの見た目は消す */
.menu-checkbox {
  display: none;
}

.menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 80px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  background-color: rgba(100, 100, 100, 0.7);
  /* 背景の右のみ角を丸くする */
  border-radius: 0 10px 10px 0;
  z-index: 2000;
  cursor: pointer;

  transition: left 0.5s ease;
}

.chevron {
  display: block;
  width: 15px;
  height: 15px;
  margin: 10px;

  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;

  transform: rotate(45deg);
  transition: transform 0.5s ease;
}

.menu-checkbox:checked + .chevron {
  transform: rotate(-135deg);
}

/* スマホ */
@media (max-width: 800px) {
  #buildings-wrapper {
    width: 100%;
    left: -100%;
  }
  body:has(.menu-checkbox:checked) #buildings-wrapper {
    left: 0;
  }

  .menu {
    left: 0;
  }
  body:has(.menu-checkbox:checked) .menu {
    left: calc(100% - 50px);
    /* シェブロンを内側にする */
    border-radius: 10px 0 0 10px;
  }
}

/* パソコン */
@media (min-width: 800px) {
  #buildings-wrapper {
    width: 400px;
    left: -400px;
  }
  body:has(.menu-checkbox:checked) #buildings-wrapper {
    left: 0px;
  }

  .menu {
    left: 0;
  }
  body:has(.menu-checkbox:checked) .menu {
    left: 400px;
  }
}
